body, html {
  background: #fbfbfb;
}
.gatsby-highlight-code-line {
  background-color: #424242;
  display: block;
  margin-right: -1em;
  margin-left: -1em;
  padding-right: 1em;
  padding-left: 0.75em;
  border-left: 0.25em solid #969896;
}

/* rewrite code font-family */
code[class*="language-"],
pre[class*="language-"] {
  font-family: "Fira Code", "Consolas", "Monaco", "Andale Mono", "Ubuntu Mono", "monospace" !important
}