.container 
  margin 20px 0
  list-style none

.item
  border-radius 6px
  padding 20px
  background white
  box-shadow 0 2px 4px lighten(black, 90%)
  transition all 0.2s
  margin-bottom 25px
  &:hover
    cursor pointer
    box-shadow 0 4px 8px lighten(black, 80%)
    transform translateY(-5px)
  h3
    margin-top 10px
  p
    text-align justify
    font-size 18px
  div
    color lightslategray
    font-size 18px
