.tags  
  width 100% 
  display flex 
  margin 0 
  flex-wrap wrap 
  li  
    margin-right 10px 
    list-style-type none 
    background #000 
    height 28px 
    line-height 28px 
    padding 0 10px 
    border-radius 14px 
    a  
      color white

.container 
  margin 20px 0
  list-style none

.item
  border-radius 6px
  padding 20px
  background white
  box-shadow 0 2px 4px lighten(black, 90%)
  transition all 0.2s
  margin-bottom 25px
  &:hover
    cursor pointer
    box-shadow 0 4px 8px lighten(black, 80%)
    transform translateY(-5px)
  h3
    margin-top 10px
  p
    text-align justify
    font-size 18px
  div
    color lightslategray
    font-size 18px

@media (max-width: 750px)
  .item
    border-radius 0
    padding 20px
    box-shadow none
    border-bottom 1px solid lighten(black, 90%)
    margin-bottom 0
    &:hover
      cursor pointer
      box-shadow none
      transform translateY(0)
